@import "tailwindcss";
* {
  font-family: SF PRO DISPLAY;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("./assets/fonts/SF/SFPRODISPLAYMEDIUM.OTF") format("opentype");
  font-weight: 400;
  font-style: normal;
}


